In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
           
df= pd.read_excel('data.xlsx')
df
plt.xlabel('Distance')
plt.ylabel('Rate')
plt.scatter(df.distance,df.rate,color='r')
plt.show

    distance   rate
0         10    200
1         20    350
2         30    800
3         40    600
4         50    900
..       ...    ...
72       730  12120
73       740  12285
74       750  12450
75       760  12615
76       770  12780

[77 rows x 2 columns]

In [21]:
df2 = df.drop('rate',axis=1)
df2

    distance
0         10
1         20
2         30
3         40
4         50
..       ...
72       730
73       740
74       750
75       760
76       770

[77 rows x 1 columns]

In [22]:
model=linear_model.LinearRegression()
model.fit(df2,df.distance)
model.predict([[500]])

C:\Users\boyro\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([500.])